</p>
  <div class="center-block" style="width: 400px; text-align: center;">
    <iframe width="400" height="315" src="https://www.youtube.com/embed/IKO3_sWKY10" frameborder="0"></iframe>
  </div>
</p>

<div class="center-block" style="width: 600px; text-align: center;">
  <img width="600"  alt="Crossword_zu" src="/images/crossword_zu.png"/>
</div>

<p></p>

<div>
  <span class="center-block" style="width: 1000px; text-align: center;">
    <img width="400"  alt="Crossword_left" src="/images/cross_left.png"/>

    <img width="400"  alt="Crossword_right" src="/images/crossword_right.png"/>
  </span>
</div>

<div class="center-block" style="width: 400px; text-align: center;">
  <h2>
    <%= link_to "てんさい" , c_correct_path, class: "btn btn-primary" %> <%= link_to "ともだち" , mistake_index_path, class: "btn btn-primary" %>
    <%= link_to "あじさい" , mistake_index_path, class: "btn btn-primary" %> <%= link_to "てんぷら" , mistake_index_path, class: "btn btn-primary" %>
  </h2>
</div>



<%= link_to 'Back', homes_path %>
